
<head>
{% block head %}
<link rel="stylesheet" href="templates/styles/header.css">
 {% endblock  %}
</head>
<body>
{% block menu %}
    <nav class="nav">
        <ul class="menu">
            <!--
            <div class="logo">
                <img alt="image" src="https://via.placeholder.com/150" width=80% />
            </div>
            -->
            <li><a href="index.php"><span class="current">L'Eclipse</span></a></li>
            <li><a href="index.php">Classement</a></li>
            <li><a href="index.php">Profil</a></li>
        </ul>
         <ul class="menuSide">
         <li><a href="index.php?action=addManga"><span class="publier" > Publier </span> </a></li>
         </ul>
    </nav>
     {% endblock  %}
    {% block content %}
    {% endblock  %}