{% extends 'header.html.twig' %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
    <script src="test.js" defer></script>
    {{ parent() }}
</head>
{% endblock  %}
{% block menu %}
{{ parent() }}
{% endblock %}
{% block content %}

<div id="background-container">
  <iframe class="video" allow="autoplay"
src="https://www.youtube.com/embed/5YmJj0onPkI?rel=0&controls=0&showinfo=0&autoplay=1&loop=1">
</iframe>

</div>
<div class="wrapper test">
  <section id="section1">
    <a href="#section3" class="arrow__btn">‹</a>
    <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
    <div class="item">
    <img src="https://i.pinimg.com/originals/fd/47/20/fd4720ee283f91a625e47fd444e5d6ef.jpg"/>
  </div>
    <div class="item">
    <img src="https://media.senscritique.com/media/000018276088/source_big/Berserk.jpg"/>
  </div>
    <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
    <div class="item">
    <img src="https://media.senscritique.com/media/000009639422/source_big/Diamond_is_Unbreakable_Jo_Jo_s_Bizarre_Adventure_saga_4.jpg"/>
  </div>
    <a href="#section2" class="arrow__btn">›</a>
  </section>
  <section id="section2">
    <a href="#section1" class="arrow__btn">‹</a>
    <div class="item">
    <img src="https://www.bdfugue.com/media/catalog/product/cache/1/image/400x/17f82f742ffe127f42dca9de82fb58b1/9/7/9782759509492_1_75.jpg"/>
  </div>
    <div class="item">
    <img src="https://media.senscritique.com/media/000009639422/source_big/Diamond_is_Unbreakable_Jo_Jo_s_Bizarre_Adventure_saga_4.jpg"/>
  </div>
  
    <div class="item">
    <img src="https://vignette.wikia.nocookie.net/sword-art-online/images/d/dd/Couverture_fr_Sword_Art_Online_-_Aincrad_Tome_001.jpg/revision/latest/scale-to-width-down/340?cb=20161005161035&path-prefix=fr"/>
  </div>
    <div class="item">
    <img src="https://vignette.wikia.nocookie.net/sword-art-online/images/d/dd/Couverture_fr_Sword_Art_Online_-_Aincrad_Tome_001.jpg/revision/latest/scale-to-width-down/340?cb=20161005161035&path-prefix=fr"/>
  </div>
  <div class="item">
    <img src="https://vignette.wikia.nocookie.net/sword-art-online/images/d/dd/Couverture_fr_Sword_Art_Online_-_Aincrad_Tome_001.jpg/revision/latest/scale-to-width-down/340?cb=20161005161035&path-prefix=fr"/>
  </div>
    <a href="#section3" class="arrow__btn">›</a>
  </section>
  <section id="section3">
    <a href="#section2" class="arrow__btn">‹</a>
    <div class="item">
    <img src="https://vignette.wikia.nocookie.net/sword-art-online/images/d/dd/Couverture_fr_Sword_Art_Online_-_Aincrad_Tome_001.jpg/revision/latest/scale-to-width-down/340?cb=20161005161035&path-prefix=fr"/>
  </div>
    <div class="item">
    <img src="https://www.bdfugue.com/media/catalog/product/cache/1/image/400x/17f82f742ffe127f42dca9de82fb58b1/9/7/9782351426937_1_75.jpg"/>
  </div>
    <div class="item">
    <img src="https://media.senscritique.com/media/000005365669/source_big/Tokyo_Ghoul.jpg"/>
  </div>
    <div class="item">
    <img src="https://media.senscritique.com/media/000005365669/source_big/Tokyo_Ghoul.jpg"/>
  </div>
    <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
    <a href="#section4" class="arrow__btn">›</a>
  </section>
   <section id="section4">
    <a href="#section3" class="arrow__btn">‹</a>
    <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
  <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
  <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
  <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
  <div class="item">
    <img src="https://media.senscritique.com/media/000005365669/source_big/Tokyo_Ghoul.jpg"/>
  </div>
   <a href="#section1" class="arrow__btn">›</a>
</div>

















<div class="wrapper">
  <section id="section5">
    <a href="#section4" class="arrow__btn">‹</a>
    <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
  <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
  <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
    <div class="item">
    <img src="https://i.pinimg.com/originals/fd/47/20/fd4720ee283f91a625e47fd444e5d6ef.jpg"/>
  </div>
    <div class="item">
    <img src="https://media.senscritique.com/media/000018276088/source_big/Berserk.jpg"/>
  </div>
    <a href="#section6" class="arrow__btn">›</a>
   </section>
    <section id="section6">
    <a href="#section5" class="arrow__btn">‹</a>
    <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
  <div class="item">
    <img src="https://i.pinimg.com/originals/fd/47/20/fd4720ee283f91a625e47fd444e5d6ef.jpg"/>
  </div>
  <div class="item">
    <img src="https://www.nautiljon.com/images/manga_volumes/00/25/21852.jpg?1524581762"/>
  </div>
  <div class="item">
    <img src="https://i.pinimg.com/originals/fd/47/20/fd4720ee283f91a625e47fd444e5d6ef.jpg"/>
  </div>
    <div class="item">
    <img src="https://media.senscritique.com/media/000018276088/source_big/Berserk.jpg"/>
  </div>
   <a href="#section6" class="arrow__btn">›</a>
</div>
    
</body>
</html>
{% endblock %} 